<section>
  <h1>Sponsors</h1>
  <div id="sponsors_ssp">
    <script type="text/javascript">
         document.write('<a style="display:none!important" id="tanx-a-mm_17977350_4070881_13262620"></a>');
         tanx_s = document.createElement("script");
         tanx_s.type = "text/javascript";
         tanx_s.charset = "gbk";
         tanx_s.id = "tanx-s-mm_17977350_4070881_13262620";
         tanx_s.async = true;
         tanx_s.src = "http://p.tanx.com/ex?i=mm_17977350_4070881_13262620";
         tanx_h = document.getElementsByTagName("head")[0];
         if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
    </script>
  </div>
</section>


<section>
  <h1>Sponsors</h1>
  <div id="sponsors"></div>
  <iframe data-aa='2630' src='//ad.a-ads.com/2630?size=120x60' scrolling='no' style='width:120px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
</section>


